<div class="outer"(contextmenu)="onRightClick()">
    <div class="container">
    <div class="row">
        <div class="location pt-4">< Home</div>
    </div>
    <div class="row mt-4 pb-3 header-wrapper">
            <div class="col-12 col-xl-5 col-md-5 location-menu-heading">
                <h4>Americas Tax</h4>
            </div>
            <div class="col-12 col-xl-7 col-md-7 location-menu-item">
                <div class="form-button">
                    <button id="btn">Edit</button>
                    <button id="btn">View Notifications</button>
                    <button id="btn">Support Documents</button>
                    <button id="btn">View Details</button>
                </div>
            </div>
    </div>
    <div class="row border-bottom">
        <div class="col-sm-12 col-md-8 col-xl-8">
            <div class="row ">
                <div class="user-details">
                    <div class="avatar-icon-wrappers avatar-icon-sms">
                        <div class="avatar-icons">
                             <img id="user-profile"src="assets/Images/a.jpg" alt="">
                        </div>
                    </div>
                    <div id="user-name" class="border-right user "style="border-right:1px solid grey;">Annie Frank</div>
                    <div id="user-portfolio" class="user border-right" style="border-right:1px solid grey;">Portfolio : Americas Tax</div>
                    <div id="modified-date" class="user">Last Modified on 30 Nov 2022</div>
                </div>
                <div class="charge-code-wrapper">
                    <div class="charge-code">
                        <div class="charge-code-name">Charge Code</div>
                        <div class="charge-code-value">89465</div>
                    </div>
                    <div class="serviceNow-queue">
                        <div class="serviceNow-queue-name">ServiceNow Queue</div>
                        <div class="serviceNow-queue-value">NA1220</div>
                    </div>
                </div>
                <div class="contact-email">
                    <i class="fa fa-envelope-o">
                        <a href="mailto:application01@americatax.com">application01@americatax.com</a>
                    </i>
                </div>
                <div class="py-3 mr-3 content-wrapper">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae ipsa autem similique et cupiditate possimus quae officia atque corporis! Veritatis cum culpa, ut totam tenetur iusto repellat odit vel iure doloribus, consequuntur reiciendis itaque ea!
                </div>
                <div class="details-wrapper">
                    <div class="group-add">
                        <div class="group">Groups</div>
                        <div class="group-value">20</div>
                    </div>
                    <div class="application-add">
                        <div class="Applications">Applications</div>
                        <div class="application-value">23</div>
                    </div>
                    <div class="resource-add">
                        <div class="Resources">Resources</div>
                        <div class="resources-value">08</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="card tax-card">
                    <div class="col-sm-12 border-bottom pb-2">
                        <div class="authorized">
                            <p>Authorized Contacts</p>
                        </div>
                        <div class="wrapper-icon py-2">
                            <div class="avatar-icon-wrapper avatar-icon-sm">
                                <div class="avatar-icon">
                                    <img src="assets/Images/a.jpg" alt="">
                                </div>
                            </div>
                            <div class="avatar-icon-wrapper avatar-icon-sm">
                                <div class="avatar-icon">
                                    <img src="assets/Images/a.jpg" alt="">
                                </div>
                            </div>
                            <div class="avatar-icon-wrapper avatar-icon-sm">
                                <div class="avatar-icon">
                                    <img src="assets/Images/a.jpg" alt="">
                                </div>
                            </div>
                            <div class="avatar-icon-wrapper avatar-icon-sm avatar-icon-add">
                                <div class="avatar-icon">
                                    <i>+4</i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="authorized">
                            <p>Notification Group</p>
                        </div>
                        <div class="wrapper-icon py-2">
                            <div class="avatar-icon-wrapper avatar-icon-sm">
                                <div class="avatar-icon">
                                    <img src="assets/Images/a.jpg" alt="">
                                </div>
                            </div>
                            <div class="avatar-icon-wrapper avatar-icon-sm">
                                <div class="avatar-icon">
                                    <img src="assets/Images/a.jpg" alt="">
                                </div>
                            </div>
                            <div class="avatar-icon-wrapper avatar-icon-sm">
                                <div class="avatar-icon">
                                    <img src="assets/Images/a.jpg" alt="">
                                </div>
                            </div>
                            <div class="avatar-icon-wrapper avatar-icon-sm avatar-icon-add">
                                <div class="avatar-icon">
                                    <i>+3</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row application-group-header py-3">
        <div class="col-sm-6 col-6 ">
            <div class="my-groups">Groups/Applications</div>
        </div>
        <div class="col-sm-6 col-6 text-end">
            <button class="btn groupbtn" >Add Applications</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 bg-dark p-4">
           <div class="row">
                <div class="sidenav border-bottom">
                    <a href="#UsTaxApplication"><div class="head-point"></div>US Tax Applications</a>
                    <a class="tgif"href="#"><div class="head-point-bottom"></div>Applications TGIF</a>
                    <a class="tgif" href="#"><div class="head-point-bottom"></div>Applications TGIF2</a>
                </div>
                <div class="sidenav ">
                    <a class="tgif text-secondary"href="#">AR Tax Applications</a>
                    <a class="tgif text-secondary" href="#">Doller Applications</a>
                    <a class="tgif text-secondary"href="#">Applications TGIF</a>
                    <a class="tgif text-secondary" href="#">Applications TGIF2</a>
                </div>
           </div>
        </div>
        <div class="col-sm-8 bg-light p-4" id="UsTaxApplication">
            <div class="row ">
                <div class="col-12 col-xl-5 col-md-5 location-menu-heading">
                    <h4>Application TGIF</h4>
                </div>
                <div class="col-12 col-xl-7 col-md-7 location-menu-item">
                    <div class="form-buttons">
                        <button id="btn">Activity Log</button>
                        <button id="btn">Edit</button>
                        <button id="btn">View Details</button>
                    </div>
                </div>
                <div class="py-3 content-wrapper">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae ipsa autem similique et cupiditate possimus quae officia atque corporis! Veritatis cum culpa, ut totam tenetur iusto repellat odit vel iure doloribus, consequuntur reiciendis itaque ea!
                </div>
                <div class="user-details">
                    <div class="avatar-icon-wrappers avatar-icon-sms">
                        <div class="avatar-icons">
                             <img id="user-profile"src="assets/Images/a.jpg" alt="">
                        </div>
                    </div>
                    <div id="user-name" class="user border-right"style="border-right:1px solid grey;">Annie Frank</div>
                    <div id="user-portfolio" class="user border-right"style="border-right:1px solid grey;">Portfolio : Americas Tax</div>
                    <div id="modified-date" class="user">Last Modified on 30 Nov 2022</div>
                </div>
                <div class="charge-code-wrapper">
                    <div class="charge-code">
                        <div class="charge-code-name">Charge Code</div>
                        <div class="charge-code-value">89465</div>
                    </div>
                    <div class="serviceNow-queue">
                        <div class="serviceNow-queue-name">ServiceNow Queue</div>
                        <div class="serviceNow-queue-value">NA1220</div>
                    </div>
                </div>
                <div class="table">
                    <thead class="table-striped">
                    <tr>
                        <th>Application</th>
                        <th>Triggered Date</th>
                        <th>Charge Code</th>
                        <th>Owner</th>
                        <th>Priority</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Application 01</td>
                        <td>21 jun 2022</td>
                        <td>121313</td>
                        <td>Annie Frank</td>
                        <td>Heigh</td>
                        <td><div class="form-button">
                            <button id="btn">Edit</button>
                        </div></td>
                    </tr>
                </tbody>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
