<div class="container"(contextmenu)="onRightClick()">
    <div class="row">
        <div class="location">Home>My application>application>resource</div>
    </div>
    <div class="row">
        <ul class="general-menu">
            <li>contact</li>
            <li>supporting document</li>
        </ul>
    </div>
    <div class="row header-outer">
        <div class="col-sm-3 header-menu">
            <ul>
              <li (click)="GeneralPage()">General</li>
              <li (click)="BasicPage()">Basic</li>
              <li (click)="ResponsePage()">Response</li>
              <li (click)="PingPage()">Ping</li>
              <li (click)="PortPage()">Port</li>
              <li (click)="DiskSpacePage()">Diskspace</li>
              <li (click)="HCIClusterPage()">HCI Cluster</li>
            </ul>
        </div>
        <!-- For general menu  Tab-->
        <div *ngIf="general" class="col-sm-9 form-outer">
            <form>
                <div class="form-heading">General</div>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="inputName" placeholder="10.102.128.123">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="AsdsApplication">ASDS Application</label>
                    <input type="text" class="form-control" id="inputApplication" placeholder="">
                  </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                      <label for="MonitaringTitle">Monitoring Title</label>
                      <input type="text" class="form-control" id="i
                      nputMonitoringTitle" placeholder="10.102.128.123 (number 2)">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="Type">Type</label>
                      <input type="text" class="form-control" id="inputType" placeholder="URL">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-6">
                      <label for="MonitoringDBId">Monitoring DB ID</label>
                      <input type="text" class="form-control" id="inputMonitoringdbid" placeholder="122334">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="EventTypeId">Event Type ID</label>
                      <input type="text" class="form-control" id="EventTypeId" placeholder="---">
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="form-group col-md-6">
                      <label for="Description">Description</label>
                      <input type="text" class="form-control" id="description" placeholder="URL:https://10.102.128.104:1443/probe.html">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="MonitoringLocation">Monitoring Location</label>
                      <input type="text" class="form-control" id="MonitoringLocation" placeholder="USSEC,DEFRA">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-6">
                      <label for="owner">Owner</label>
                      <input type="text" class="form-control" id="owner" placeholder="Ravish">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="MonitoringLocationOriginal">Monitoring Location (Original)</label>
                      <input type="text" class="form-control" id="inputMonitoringLocationOriginal" placeholder="DEFRA ">
                    </div>
                  </div>
                  <div class="form-group text-end">
                    <button type="submit" class="btn">Edit</button>
                    <button type="submit" class="btn">Disable</button>
                    <button type="submit" class="btn">Send a Request</button>
                  </div>  
              </form>
        </div>
        <!-- For Basic menu Tab -->
        <div *ngIf="basic" class="col-sm-9 form-outer">
          <form>
              <div class="form-heading">Basic</div>
              <div class="row">
                  <div class="form-group col-md-6">
                    <label class="form-heading"> Application Related</label> <br>
                    <label for="ApplicationASDS">Application (in ASDS)</label>
                    <select type="text" class="form-control" id="inputApplicationASDS" placeholder="">
                  </select>
                  </div>
                  <div class="form-group col-md-6">
                      <label class="form-heading"> New Section</label> <br>                       
                          <label for="PollingInterval"> pollingInterval</label>
                          <input type="text" class="form-control" id="inputPollingInterval" placeholder="5">                       
                    </div>
                </div>                
                  <div class="row">
                      <div class="form-group col-md-6">
                          <label for="Enviroment (New)">Enviroment (New)</label>
                          <select type="text" class="form-control" id="inputEnviromentNew" placeholder="">
                        </select>
                          </div>
                        <div class="form-group col-md-6">
                          <label for="AvailabilityIndicator">availabilityIndicator</label>
                          <input type="text" class="form-control" id="inputAvailabilityIndicator" placeholder="No">
                        </div>
                      </div>
                      <div class="row">
                          <div class="form-group col-md-6">
                            <label for="Enviroment">enviroment</label>
                            <input type="text" class="form-control" id="inputEnviroment" placeholder="PROD">
                          </div>
                          <div class="form-group col-md-6">
                            <label for="PollingInterval">pollingInterval</label>
                            <input type="text" class="form-control" id="inputPollingInterval" placeholder="5">
                          </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                              <label for="Component">component</label>
                              <input type="text" class="form-control" id="i
                              nputComponent" placeholder="---">
                            </div>
                            <div class="form-group col-md-6">
                              <label for="Repeatfailures">repeatfailures</label>
                              <input type="text" class="form-control" id="inputRepeatfailures" placeholder="2">
                            </div>
                          </div>
                          <div class="row">
                            <div class="form-group col-md-6">
                              <label for="ImpactedArea">impactedArea</label>
                              <input type="text" class="form-control" id="inputImpactedArea" placeholder="FR">
                            </div>
                            <div class="form-group col-md-6">
                              <label for="DependantMonitorID">dependantMonitorID</label>
                              <input type="text" class="form-control" id="inputdependantMonitorID" placeholder="---">
                            </div>
                          </div>
                          
                          <div class="row">
                            <div class="form-group col-md-6">
                              <label for="PspProjectID">pspProjectID</label>
                              <input type="text" class="form-control" id="PspProjectID" placeholder="---">
                            </div>
                            <div class="form-group col-md-6">
                              <label for="MonitorOptions">monitorOptions</label>
                              <input type="text" class="form-control" id="inputMonitorOptions" placeholder="---">
                            </div>
                          </div>
                          <div class="row">
                              <div class="form-group col-md-6">
                                <label for="OrignalAppName">orignalAppName</label>
                                <input type="text" class="form-control" id="inputOrignalAppName" placeholder="EYCANVAS-FR">
                              </div>
                            </div>
                            <div class="row">
                              <div class="form-group col-md-6">
                                <label for="PortfolioOrignal">portfolioOrignal</label>
                                <input type="text" class="form-control" id="inputPortfolioOrignal" placeholder="---">
                              </div>
                            </div>
                            <div class="row">
                              <div class="form-group col-md-6">
                                <label for="ServiceNowApplicationName">Service Now Application Name (old)</label>
                                <input type="text" class="form-control" id="inputServiceNowApplicationName" placeholder="---">
                              </div>
                            </div>
            </form>
      </div>
      <!-- For Response Menu Tab  -->
      <div *ngIf="response" class="col-sm-9 form-outer">
        <form>
            <div class="form-heading">Response</div>
            <div class="row">
                <div class="form-group col-md-6">
                  <label class="form-heading"> Internal Details</label> <br>
                  <label for="Severity">Severity</label>
                  <input type="text" class="form-control" id="inputSeverity" placeholder="Critical">
                </div>
                <div class="form-group col-md-6">
                    <label class="form-heading"> Forwarding Details</label> <br>                       
                        <label for="EscalationGroups"> Escalation Group (Snow)</label>
                        <input type="text" class="form-control" id="inputEscalationGroups" placeholder="---">                       
                  </div>
              </div>                
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="UMN">UMN</label>
                        <input type="text" class="form-control" id="inputUMN" placeholder="LSMH-9PHQF5">
                      </div>
                      <div class="form-group col-md-6">
                        <label for="UMN">Notofication Groups(XMatters)</label>
                        <input type="text" class="form-control" id="inputNotificationGroups" placeholder="OnCall_EYCanvas">
                      </div>
                    </div>
          </form>
    </div>
    <!-- For Ping Menu Tab  -->
        <div *ngIf="ping" class="col-sm-9 form-outer">
          <form>
              <div class="form-heading">Ping Details</div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Host Name(or IP)</label>
                  <input type="text" class="form-control" id="inputName" placeholder="10.102.128.123">
                </div>
              </div>
            </form>
      </div>
      <!-- For Port Menu Tab  -->
      <div *ngIf="port" class="col-sm-9 form-outer">
        <form>
            <div class="form-heading">Port Details</div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="name">Host Name(or IP)</label>
                <input type="text" class="form-control" id="inputName" placeholder="---">
              </div>
              <div class="form-group col-md-6">
                <label for="name">Port Number</label>
                <input type="text" class="form-control" id="inputName" placeholder="---">
              </div>
            </div>
          </form>
    </div>
    <!-- For HCICluster -->
    <div *ngIf="HCICluster" class="col-sm-9 form-outer">
      <form>
          <div class="form-heading">HCI Cluster</div>
          <div class="row">
              <div class="form-group col-md-6">
                <label class="form-heading"> Target Location Details</label> <br>
                <label for="Region">Region</label>
                <input type="text" class="form-control" id="inputRegion" placeholder="---">
              </div>
              <div class="form-group col-md-6">
                  <label class="form-heading"> Target Cluster Details</label> <br>                       
                      <label for="HCIClusterName">HCI Cluster Name</label>
                      <input type="text" class="form-control" id="inputHCIClusterName" placeholder="---">                       
                </div>
            </div>                
              <div class="row">
                  <div class="form-group col-md-6">
                      <label for="Country">Country</label>
                      <input type="text" class="form-control" id="inputCountry" placeholder="---">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-6">
                        <label for="Country">Location (City/DC)</label>
                        <input type="text" class="form-control" id="inputCountry" placeholder="---">
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6">
                          <label for="NodeSystem">Node (System)</label>
                          <input type="text" class="form-control" id="inputNodeSystem" placeholder="---">
                        </div>
                      </div>
        </form>
  </div>
  <div *ngIf="diskSpace" class="col-sm-9 form-outer">
    <form>
        <div class="form-heading">Diskspace</div>
        <div class="row">
            <div class="form-group col-md-6">
              <label class="form-heading"> Target </label> <br>
              <label for="Region">System Name</label>
              <input type="text" class="form-control" id="inputRegion" placeholder="---">
            </div>
            <div class="form-group col-md-6">
                <label class="form-heading">Threshold (minimum free space)</label> <br>                       
                    <label for="MinimumMbFree">Minimum MB Free</label>
                    <input type="text" class="form-control" id="inputMinimumMbFree" placeholder="---">                       
              </div>
          </div>                
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="DriveName">Drive Name</label>
                    <input type="text" class="form-control" id="inputDriveName" placeholder="---">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="MinimumPercentFree">Minimum%Free</label>
                    <input type="text" class="form-control" id="inputMinimumPercentFree" placeholder="---">
                  </div>
                </div>
                  <div class="row">
                    <div class="form-group col-md-6"> <br>
                      <label class="form-heading">Current Status</label> <br>   
                       <label for="ObjectFound">Object Found ?</label> 
                        <input type="text" class="form-control" id="inputObjectFound" placeholder="---">
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6">
                         <label for="MBThresholdBreached">MB Threshold Breached?</label> 
                          <input type="text" class="form-control" id="inputMBThresholdBreached" placeholder="---">
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-md-6">
                           <label for="PercentThresholdBreached">Percent Threshold Breached ?</label> 
                            <input type="text" class="form-control" id="inputPercentThresholdBreached" placeholder="---">
                          </div>
                        </div>
      </form>
</div>
    </div>
</div>
