*{
    margin: 0;
    padding: 0;
}
.outer{
    background: rgb(238, 238, 238);
}
.container{
    padding: auto!important;
    margin: auto!important;
}
.location{
    text-align: left;
    text-align: -moz-left;
    text-align: -webkit-left;
    padding: 10px 0px;
    font-size: 14px;
    font-weight: 500;
}
.location-menu-item{
    text-align: end;
    -moz-text-align:end;
    -o-text-align:end;
    -webkit-text-align:end;
    -ms-text-align:end;
    padding: 10px 0px;
    -moz-padding:10px 0px;
    font-size: 14px;
    font-weight: 600; 
}
@media (max-width: 844px) {
   .border-bottom{
    padding: 10px;
   }
   .location-menu-heading{
    width: 100%!important;
    padding: 0px 10px!important;
   }
   .location-menu-item{
    width: 100%!important;
    text-align: start;
    -moz-text-align:start;
    -o-text-align:start;
    -webkit-text-align:start;
    -ms-text-align:start;
    padding: 15px 0px;
    -moz-padding:15px 0px;
    font-size: 10px;
    font-weight: 400;
   }
   #btn{
    border: 1px solid rgb(204, 202, 202);
    -moz-border: 1px solid rgb(204, 202, 202);
    padding: 3px 9px;
    border-radius: 0;
    -moz-border-radius:0px;
    -o-border-radius:0px;
    -webkit-border-radius:0px;
    -ms-border-radius:0px;
    -khtml-border-radius:0px;
    margin-left: 8px;
    font-weight: 500;
    font-size: 11px;
    background-color: #fff!important;

}
    .groupbtn{
        background-color: #000;
        font-size: 16px;
        padding: 10px 20px!important;
        border-radius: 0;
        -moz-border-radius:0px;
        -o-border-radius:0px;
        -webkit-border-radius:0px;
        -ms-border-radius:0px;
        -khtml-border-radius:0px;
        color:#fff;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing:border-box;
        -khtml-box-sizing:border-box;
    }
    .my-groups{
        font-size: 16px!important;
        font-weight: 600;
    }
    .application-group-header{
        padding: 10px;
    }
  }

.form-button>button{
    border: 1px solid rgb(204, 202, 202);
    padding: 3px 15px;
    border-radius: 0;
    -moz-border-radius:0px;
    -o-border-radius:0px;
    -webkit-border-radius:0px;
    -ms-border-radius:0px;
    -khtml-border-radius:0px;
    margin-left: 15px;
    font-weight: 500;
    font-size: 14px;
    background-color: #fff!important;
    -moz-border: 1px solid rgb(204, 202, 202);
}
.avatar-icons {
    display: block;
    width: 44px;
    height: 44px;
    transition: all .2s;
    opacity: 1;
    border-radius: 50px;
    overflow: hidden; 
}
.avatar-icon-sms .avatar-icons {
    width: 34px;
    height: 34px;
}   
.avatar-icons img {
    width: 100%;
    height: 100%;
}
.user-details{
    font-size: 14px;
    font-weight: 600;
    display: flex;
}
.user{
    padding: 5px 5px;
}
.charge-code-wrapper{
    display: flex;
    padding: 10px 0px;
}
.charge-code-wrapper>.serviceNow-queue{
    padding-left: 50px;
}
.charge-code-wrapper>.charge-code>.charge-code-name,.serviceNow-queue>.serviceNow-queue-name{
    font-size: 12px;
    font-weight: 700;
}
.charge-code>.charge-code-value,.serviceNow-queue>.serviceNow-queue-value{
    font-weight: 600;
}
.groupbtn{
    background-color: #000;
    padding: 10px 70px;
    border-radius: 0;
    -moz-border-radius:0px;
    -o-border-radius:0px;
    -webkit-border-radius:0px;
    -ms-border-radius:0px;
    -khtml-border-radius:0px;
    color:#fff;
    margin-top: 13px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing:border-box;
    -khtml-box-sizing:border-box;
}
.my-groups{
    font-size: 18px;
    margin-top: 25px;
    font-weight: 600;
}
.form-buttons>button{
    border:none;
    background: none;
    border-bottom: 2px solid rgb(204, 202, 202);
    margin-left: 15px;
    font-weight: 500;
    font-size: 14px;
    -moz-border: 2px solid rgb(204, 202, 202);
}
.table-striped>tr>th{
    font-size: 15px;
    font-weight: 500;
}
.sidenav {
    z-index: 1;
    overflow-x: hidden;
    padding-top: 20px;
  }
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: #fff;
    display: block;
    font-weight: 500;
  }  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }  
  .tgif{
    font-size: 12px;
    margin-left:30px
  }
.head-point{
    height: 10px;
    width: 10px;
    border-radius: 100%;
    -moz-border-radius:100%;
    -o-border-radius:100%;
    -webkit-border-radius:100%;
    -ms-border-radius:100%;
    -khtml-border-radius:100%;
    background: red;
    float: left;
    margin-top:9px;
    margin-right: 10px;    
}
.head-point-bottom{
    height: 7px;
    width: 7px;
    border-radius: 100%;
    -moz-border-radius:100%;
    -o-border-radius:100%;
    -webkit-border-radius:100%;
    -ms-border-radius:100%;
    -khtml-border-radius:100%;
    background: yellow;
    float: left;
    margin-top:6px;
    margin-right: 10px;    
}
thead>tr>th,tbody>tr>td{
    font-size: 13px;
}
