<div class="container">
    <div class="row">
        <div class="location">Home>My application>application>resource</div>
    </div>
    <div class="row">
        <ul class="general-menu">
            <li>contact</li>
            <li>supporting document</li>
        </ul>
    </div>
    <div class="row header-outer">
        <div class="col-sm-3 header-menu">
            <ul>
                <li routerLink="/general">General</li>
                <li routerLink="/basic">Basic</li>
                <li routerLink="/response">Response</li>
                <li routerLink="/ping">Ping</li>
                <li routerLink="/ping">Port</li>
            </ul>
        </div>
        <div class="col-sm-9 form-outer">
            <form>
                <div class="form-heading">Port Details</div>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="name">Host Name(or IP)</label>
                    <input type="text" class="form-control" id="inputName" placeholder="---">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="name">Port Number</label>
                    <input type="text" class="form-control" id="inputName" placeholder="---">
                  </div>
                </div>
              </form>
        </div>
    </div>
</div>
