*{
    margin: 0;
    padding: 0;
}
.container{
    padding: auto!important;
    margin: auto!important;
}
.location{
    text-align: left;
    text-align: -moz-left;
    text-align: -webkit-left;
    padding: 10px 0px;
    font-size: 14px;
    font-weight: bold;
}
.location-menu-heading{
    font-size: 18px!important;
    font-weight: 500;
    padding: 10px 2px;
}
.header-menu{
    background-color: #e9e8e8;
}
.header-menu>ul{
    padding: 47px 5px;
}
.header-menu>ul>li{
margin-bottom: 10px;
padding: 5px 20px;
list-style: none;
font-size: 20px;
cursor: pointer;
}
.header-menu>ul>li:hover{
    background-color: #fff;
}

.location-menu-item{
text-align: end;
padding: 10px 0px;
font-size: 14px;
font-weight: bold; 
}
.location-menu-item li{
    list-style: none;
    cursor: pointer;
    padding: 10px;
    display: inline;
} 
.header-outer{
    border: 1px solid lightgrey;
}
.form-outer{
    padding: 40px 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing:border-box;
    -khtml-box-sizing:border-box;
    
}
.form-heading{
    font-size: 23px;
    -webkit-font-size:23px;
    -moz-font-size:23px;
}
.form-group,.form-heading{
    padding: 5px 10px; 
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing:border-box;
    -khtml-box-sizing:border-box;
    -webkit-padding: 5px 10px;
    -moz-padding: 5px 10px;
    
}
.form-group>label{
    font-size:12px;
    font-weight: bold;
}
.form-group>input{
    padding:7px;
    border-radius: 0;
    -moz-border-radius:0px;
    -o-border-radius:0px;
    -webkit-border-radius:0px;
    -ms-border-radius:0px;
    -khtml-border-radius:0px;
    font-size: 14px;
    color: #000;
    -moz-color:#000;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing:border-box;
    -khtml-box-sizing:border-box;
}
::placeholder { 
    color: #000;
    opacity: 1;
  } 
:-ms-input-placeholder { 
    color: #000;
} 
::-ms-input-placeholder {
    color: #000;
  }
  .text-end>.btn{
    border: 1px solid rgb(204, 202, 202);
    padding: 10px 15px;
    border-radius: 0;
    -moz-border-radius:0px;
    -o-border-radius:0px;
    -webkit-border-radius:0px;
    -ms-border-radius:0px;
    -khtml-border-radius:0px;
    margin-left: 15px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 14px;
    -moz-border: 1px solid rgb(204, 202, 202);
  }
  @media (max-width: 844px) {
    .location{
        padding: 10px 5px;
        font-size: 11px;
        font-weight: 500;
    }
    .location-menu-item{
        text-align: end;
        padding: 10px 2px;
        font-size: 17px;
        font-weight: 500; 
        }
        .location-menu-item li{
            list-style: none;
            cursor: pointer;
            padding: 10px;
            display: inline;
        } 
        .location-menu-heading{
            font-size: 17px!important;
            font-weight: 500;
            padding: 10px 2px;
        }
  }