<div class="container"(contextmenu)="onRightClick()">
    <div class="row">
        <div class="location">Home > application > Computer Resource > Edit GCD Provisioning Services</div>
    </div>
    <div class="row mt-4">
            <div class="col-6 description-menu-heading">
                <p>Edit GCD Provisioning Services</p>
            </div>
            <div class="col-6 description-menu-item">
                <ul>
                    <li>contact</li>
                    <li>supporting document</li>
                </ul>
            </div>
    </div>
    <div class="row header-outer">
        <div class="col-sm-3 header-menu">
            <ul>
                <li routerLink="/location">Location</li>
                <li>Application</li>
                <li>VM Details</li>
                <li>Data Drive</li>
                <li routerLink="/description">Description</li>
            </ul>
        </div>
        <div class="col-sm-9 form-outer">
            <form>
                <div class="form-heading">Description</div>
                <div class="description-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti impedit illo accusamus aliquid, consequuntur tempora optio hic reprehenderit ullam possimus laboriosam deserunt fugit, distinctio perferendis, ex natus! Nesciunt laudantium tempore debitis maxime fugit suscipit eos quisquam exercitationem ipsa perferendis iusto, nemo, voluptas dolore aliquam illum quam porro et ex molestias?</div>
                <div class="row">
                  <div class="label-location">Location</div>
                  <div class="form-group col-md-6">
                    <label class="label-Request" for="MonitaringTitle">Change Request Number</label>
                    <input type="text" class="form-control" id="inputMonitoringTitle" placeholder="GHFC 124242">
                  </div>
                  
                  <div class="form-group col-md-6">
                    <label class="label" for="EngagementCode">Engagement Code</label>
                    <input type="text" class="form-control" id="inputEngagementCode" placeholder="Select one">
                  </div>
                </div>
                <div class="row">
                  <div class="label-application">Application</div>
                  <div class="form-group col-md-6">
                    <label class="label" for="OperatingSystem">Operating System</label>
                    <input type="text" class="form-control" id="OperatingSystem1" placeholder="Window Server 2022">
                  </div>
                    <div class="form-group col-md-6">
                      <label class="label" for="OperatingSystem">Operating System</label>
                      <input type="text" class="form-control" id="OperatingSystem2" placeholder="Window Server 2022">
                    </div>
                  </div>
                 <div class="row">
                    <div class="form-border"></div>
                    <div class="form-text-bottom">
                        Charges Incurred for the above Changes Request 25 Euro
                    </div>
                 </div>
                  <div class="form-group text-end">
                    <button type="submit" class="btn">Submit</button>
                    <!-- <button type="submit" class="btn">Diseble</button>
                    <button type="submit" class="btn">Send a Request</button> -->
                  </div>  
              </form>
        </div>
    </div>
</div>

