<div class="container-fluid"(contextmenu)="onRightClick()">
    <div class="row">
        <div class="header">
            <div class="row">
                <div class="col-sm-7 sefl-header">
                    <div class="header-heading">
                        <h2>Welcome EY</h2>
                    </div>
                    <div class="header-text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat unde debitis nostrum.</p>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="card text-white bg-dark p-4 heading-card-text">
                        <div class="notification">Notification (10)</div>
                          <div class="card-text">Lorem ipsum dolor sit amet.</div>
                          <div class="card-text">Lorem ipsum dolor sit amet consectetur.</div>
                          <div class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing.</div>
                          <div class="viewall">View All ></div>
                      </div>
                </div>
            </div>
        </div>
        <div class="group-header">
            <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="my-groups">My Groups</div>
                </div>
                <div class="col-6 text-end">
                    <button class="btn groupbtn" >Add Groups</button>
                </div>
            </div>
        </div>
        </div>
        <div class="group-list">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 ">
                        <div class="card card-group-list">
                            <div class="card-heading card-group-heading">
                                <div class="head-point my-auto"></div>
                                Americas Tax</div>
                            <div class="card-text card-group-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, distinctio.</div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="group">
                                        <p>Groups</p>
                                        <h4>05</h4>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="applications">
                                        <p>Applications</p>
                                        <h4>350</h4>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="resources">
                                        <p>Resources</p>
                                        <h4>1250</h4>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="authorized">
                                        <p>Authorized Contacts</p>
                                    </div>
                                    <div class="wrapper-icon">
                                        <div class="avatar-icon-wrapper avatar-icon-sm">
                                            <div class="avatar-icon">
                                                <img src="assets/Images/icon.webp" alt="">
                                            </div>
                                        </div>
                                        <div class="avatar-icon-wrapper avatar-icon-sm">
                                            <div class="avatar-icon">
                                                <img src="assets/Images/a.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="avatar-icon-wrapper avatar-icon-sm">
                                            <div class="avatar-icon">
                                                <img src="assets/Images/a.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="avatar-icon-wrapper avatar-icon-sm avatar-icon-add">
                                            <div class="avatar-icon">
                                                <i>+</i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="charge-code">
                                        <p>Charge Code</p>
                                        <h4>823354</h4>
                                    </div>
                                </div>
                                <div class="issues">
                                    <div class="row">
                                        <div class="col-6 issue">
                                            Issues (06)
                                        </div>
                                        <div class="col-6 issues-viewall">View All ></div>
                                    </div>
                                </div>
                                <div class="card card-group-tax mb-3" routerLink="/tgifApp">
                                    <div class="card-heading us-tax-heading">US Tax Applications</div>
                                    <div class="btn-group dropend">
                                        <i class="fa fa-caret-right"></i>
                                    </div>
                                    <div class="us-tax-application">2 Applications</div>
                                </div>
                                <div class="card card-group-tax" routerLink="/tgifApp">
                                    <div class="card-heading us-tax-heading">US Tax Applications</div>
                                    <div class="btn-group dropend">
                                        <i class="fa fa-caret-right"></i>
                                    </div>
                                    <div class="us-tax-application">2 Applications</div>
                                    <!-- <i class="fa fa-caret-right"></i> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card card-group-list">
                            <div class="card-heading card-group-heading">
                                <div class="head-point my-auto bg-warning"></div>
                                Americas Advisory</div>
                            <div class="card-text card-group-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, distinctio.</div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="group">
                                        <p>Groups</p>
                                        <h4>05</h4>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="applications">
                                        <p>Applications</p>
                                        <h4>350</h4>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="resources">
                                        <p>Resources</p>
                                        <h4>1250</h4>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="authorized">
                                        <p>Authorized Contacts</p>
                                    </div>
                                    <div class="wrapper-icon">
                                        <div class="avatar-icon-wrapper avatar-icon-sm">
                                            <div class="avatar-icon">
                                                <img src="assets/Images/a.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="avatar-icon-wrapper avatar-icon-sm">
                                            <div class="avatar-icon">
                                                <img src="assets/Images/a.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="avatar-icon-wrapper avatar-icon-sm">
                                            <div class="avatar-icon">
                                                <img src="assets/Images/a.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="avatar-icon-wrapper avatar-icon-sm avatar-icon-add">
                                            <div class="avatar-icon">
                                                <i>+</i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="charge-code">
                                        <p>Charge Code</p>
                                        <h4>823354</h4>
                                    </div>
                                </div>
                                <div class="issues">
                                    <div class="row">
                                        <div class="col-6 issue">
                                            Issues (06)
                                        </div>
                                        <div class="col-6 issues-viewall">View All ></div>
                                    </div>
                                </div>
                                <div class="card card-group-tax mb-3"routerLink="/tgifApp">
                                    <div class="card-heading us-tax-heading">Group</div>
                                    <div class="btn-group dropend">
                                        <i class="fa fa-caret-right"></i>
                                    </div>
                                    <div class="us-tax-application">1 Applications</div>
                                </div>
                                <!-- <div class="card card-group-tax">
                                    <div class="card-heading us-tax-heading">US Tax Applications</div>
                                    <div class="btn-group dropend">
                                        <i class="fa fa-caret-right"></i>
                                    </div>
                                    <div class="us-tax-application ">2 Applications</div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card card-group-list">
                            <div class="card-heading card-group-heading">
                                <div class="head-point my-auto bg-success"></div>
                                Americas Consulting</div>
                            <div class="card-text card-group-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, distinctio.</div>
                            <div class="row">
                                <div class="col-4">
                                    <div class="group">
                                        <p>Groups</p>
                                        <h4>05</h4>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="applications">
                                        <p>Applications</p>
                                        <h4>350</h4>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="resources">
                                        <p>Resources</p>
                                        <h4>1250</h4>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="authorized">
                                        <p>Authorized Contacts</p>
                                    </div>
                                    <div class="wrapper-icon">
                                        <div class="avatar-icon-wrapper avatar-icon-sm">
                                            <div class="avatar-icon">
                                                <img src="assets/Images/icon.webp" alt="">
                                            </div>
                                        </div>
                                        <div class="avatar-icon-wrapper avatar-icon-sm">
                                            <div class="avatar-icon">
                                                <img src="assets/Images/a.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="avatar-icon-wrapper avatar-icon-sm">
                                            <div class="avatar-icon">
                                                <img src="assets/Images/a.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="avatar-icon-wrapper avatar-icon-sm avatar-icon-add">
                                            <div class="avatar-icon">
                                                <i>+</i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="charge-code">
                                        <p>Charge Code</p>
                                        <h4>823354</h4>
                                    </div>
                                </div>
                                <!-- <div class="issues">
                                    <div class="row">
                                        <div class="col-6 issue">
                                            Issues (06)
                                        </div>
                                        <div class="col-6 issues-viewall">View All ></div>
                                    </div>
                                </div> -->
                                <!-- <div class="card mb-3 card-group-tax">
                                    <div class="card-heading us-tax-heading">US Tax Applications</div>
                                    <div class="btn-group dropend">
                                        <i class="fa fa-caret-right"></i>
                                    </div>
                                    <div class="us-tax-application">2 Applications</div>
                                </div>
                                <div class="card card-group-tax">
                                    <div class="card-heading us-tax-heading">US Tax Applications</div>
                                    <div class="btn-group dropend">
                                        <i class="fa fa-caret-right"></i>
                                    </div>
                                    <div class="us-tax-application">2 Applications</div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
